body {
  background-image: url(https://github.com/Serake777/Passenger-counter-app-/blob/main/background.jpg?raw=true);
  background-size: 900px 400px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: rgb(0 34 68);
  cursor: pointer;
}
#increment-btn:hover {
  color: rgb(99 206 202);
}
#save-btn {
  background: rgb(75 146 219);
}
#save-btn:hover {
  color: rgb(99 206 202);
  cursor: pointer;
}
p {
  color: white;
}
